.buttons{
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.2);
    align-items: center;
    padding: 7px 12px;
    height: 38px;
    margin-left: 15px;
    background: transparent;
    border-radius: 100px; 
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.search{
    border-radius: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    height:40px;
    cursor: pointer;
    margin-left: 30px;
    float: right !important;
}

