.class1{
    .css-1uoictj {
        margin-bottom: 2.5vw;
        margin-top: 2.5vw;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
}

.class2{
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.825rem;
    margin-bottom: 1.75vw;
}

.class3{
    display: inline-block;
    vertical-align: bottom;
    padding: 0px;
    margin-bottom: 12px;
    position: relative;
    text-align: left;
    transition: all 0.5s ease-in-out 0s;
}

.ecllipse_border{
    display: block;
    padding: calc(8px) 12px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 50px;
    font-weight: 400;
    margin: 10px;
}

.class_card{
    display: block;
    position: relative;
    width: 300px;
    overflow: hidden;
    background-color: #eee;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-height: 42vw;
}